<footer id="footer" class="pb-2 pt-5 text-center text-white">

    <p>EuraTech'Kids Learning Disctrict EuraTechnologies 165 Avenue de Bretagne, 59000 Lille</p>

    <ul class="list-group">
        <li class="list-inline-item"><a href="{{ path('contact') }}">Contact</a></li>
        <li class="list-inline-item"><a href="{{ path('legal_mention') }}">Mentions Légales</a></li>
        <li class="list-inline-item"><a href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a></li>
    </ul>

    <p class="pt-3">Copyright © 2020, Euratech'Kids. Tous droits réservés. - Made with ❤ by WebForce3</p>
</footer>
