body {
    font-family: Rubik, sans-serif !important;
}

.container-fluid{
    background: rgb(0,9,94);
    background: linear-gradient(90deg, rgba(0,9,94,1) 0%, rgba(0,2,25,1) 100%);
}
#stars{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    border: none !important;
    border-radius: 0px;
}

#atf, #nl, footer{
    background: rgb(0,9,94);
    background: linear-gradient(90deg, rgba(0,9,94,1) 0%, rgba(0,2,25,1) 100%);
}

.card-header{
    background-color: transparent !important;
}

.nav-link, .navbar-brand{
    color: white !important;

}
.nav-linkactive{
    color: #ffb51b;
    padding: 8px;
}
.dropdown-menu{
    background: rgb(0,9,94) !important;
    background: linear-gradient(90deg, rgba(0,9,94,1) 0%, rgba(0,2,25,1) 100%) !important;
}
.dropdown-item:hover, .nav-link:hover, .navbar-brand:hover{
    color: #ffb51b !important;
}
.dropdown-item:hover{
    background-color: transparent !important;
}
.cust_btn2{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    width: 180px;
    color: #FFF;
    background: rgb(168,59,118);
    background: linear-gradient(270deg, rgba(168,59,118,1) 0%, rgba(242,4,195,1) 100%);
    transition: .4s;
}

.cust_btn2:hover {
    text-decoration: none;
    color: #FFD700;
    width: 200px;
    font-size: 24px;
    font-weight: bolder;
    background: rgb(168,59,118);
    background: linear-gradient(270deg, rgba(168,59,118,1) 0%, rgba(242,4,195,1) 100%);
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;>
height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.plane {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.plane.main {

    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
    transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
}
.plane.main .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px deeppink, inset 0 0 60px deeppink;
}
.plane.main .circle::before, .plane.main .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: deeppink;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px deeppink;
}
.plane.main .circle::before {
    -webkit-transform: translateZ(-90px);
    transform: translateZ(-90px);
}
.plane.main .circle::after {
    -webkit-transform: translateZ(90px);
    transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
    transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
    transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
    transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
    transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.plane2 {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.plane2.main2 {

    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
    transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
}
.plane2.main2 .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px navy, inset 0 0 60px navy;
}
.plane2.main2 .circle::before, .plane2.main2 .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: navy;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px navy;
}
.plane2.main2 .circle::before {
    -webkit-transform: translateZ(-90px);
    transform: translateZ(-90px);
}
.plane2.main2 .circle::after {
    -webkit-transform: translateZ(90px);
    transform: translateZ(90px);
}
.plane2.main2 .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
    transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane2.main2 .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
    transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane2.main2 .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
    transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane2.main2 .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
    transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane2.main2 .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.plane3 {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.plane3.main3 {

    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
    transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
}
.plane3.main3 .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px hotpink, inset 0 0 60px hotpink;
}
.plane3.main3 .circle::before, .plane3.main3 .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: hotpink;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px hotpink;
}
.plane3.main3 .circle::before {
    -webkit-transform: translateZ(-90px);
    transform: translateZ(-90px);
}
.plane3.main3 .circle::after {
    -webkit-transform: translateZ(90px);
    transform: translateZ(90px);
}
.plane3.main3 .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
    transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane3.main3 .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
    transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane3.main3 .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
    transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane3.main3 .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
    transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane3.main3 .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.plane4 {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.plane4.main4 {

    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
    transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
}
.plane4.main4 .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px darkturquoise, inset 0 0 60px darkturquoise;
}
.plane4.main4 .circle::before, .plane4.main4 .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: darkturquoise;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px darkturquoise;
}
.plane4.main4 .circle::before {
    -webkit-transform: translateZ(-90px);
    transform: translateZ(-90px);
}
.plane4.main4 .circle::after {
    -webkit-transform: translateZ(90px);
    transform: translateZ(90px);
}
.plane4.main4 .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
    transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane4.main4 .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
    transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane4.main4 .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
    transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane4.main4 .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
    transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane4.main4 .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.plane5 {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.plane5.main5 {

    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
    transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
}
.plane5.main5 .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px gold, inset 0 0 60px gold;
}
.plane5.main5 .circle::before, .plane5.main5 .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: gold;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px gold;
}
.plane5.main5 .circle::before {
    -webkit-transform: translateZ(-90px);
    transform: translateZ(-90px);
}
.plane5.main5 .circle::after {
    -webkit-transform: translateZ(90px);
    transform: translateZ(90px);
}
.plane5.main5 .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
    transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane5.main5 .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
    transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane5.main5 .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
    transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane5.main5 .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
    transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane5.main5 .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.plane6 {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.plane6.main6 {

    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
    transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
}
.plane6.main6 .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px orangered, inset 0 0 60px orangered;
}
.plane6.main6 .circle::before, .plane6.main6 .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: orangered;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px orangered;
}
.plane6.main6 .circle::before {
    -webkit-transform: translateZ(-90px);
    transform: translateZ(-90px);
}
.plane6.main6 .circle::after {
    -webkit-transform: translateZ(90px);
    transform: translateZ(90px);
}
.plane6.main6 .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
    transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane6.main6 .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
    transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane6.main6 .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
    transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane6.main6 .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
    transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane6.main6 .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}