<!doctype html>
<html lang="en">
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <p class="block text-center">
                <a href="#" class="btn">Get writing!</a>
            </p>
        </div>
    </div>
</div>
</body>
</html